/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	font-family: "Open Sans", sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container {
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 5em;
    width: 100%;
}
.hero {
    background: url(./img/bg-main.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
	overflow: hidden;
    /* padding: 30px 30px 0px 30px; */
}
.hero__link {
	justify-content: space-between;
	height: 30vh;
}
.hero__link a {
	text-decoration: none;
	font-weight: 700;
	font-size: 28px;
	text-transform: uppercase;
	color: #ffff;
	line-height: 105%;
}
.hero__link div {
	padding-left: 30px;
	border-left: 2px solid #fff;
}
.hero__link div:nth-child(1) {
	margin-top:7vh;
	/* padding-left: 30px;
	border-left: 2px solid #fff; */
}
.hero__link div:nth-child(3) {
	margin-top:7vh;
}
.hero__container {
	flex-direction: column;
	gap: 60px;
	justify-content: space-between;
	height: 100%;
}
img {
    width: 100%;
    margin: 0 auto;
    display: block;
}
.flex {
	display: flex;
}



.typewriter {
	overflow: hidden; /* Ensures the text is not revealed until the animation */
	border-right: .15em solid orange; /* The typewriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }
  